<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Not Nice</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">TO-DO</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="add-item">Add Items</a></li>
        </ul>
      </div>
    </nav>
    <div class="container center">
      <i class="large material-icons">sentiment_dissatisfied</i>
      <h3>404</h3>
      <h1>Page not found</h1>
    </div>
  </body>
</html>
